# Part 1: data import

In [2]:
from pandas import DataFrame, read_csv
import matplotlib.pyplot as plt
import pandas as pd
import sys

%matplotlib inline

In [4]:
print "python version", sys.version
print "pandas version", pd.__version__

python version 2.7.10 |Anaconda 2.2.0 (x86_64)| (default, Oct 19 2015, 18:31:17)
[GCC 4.2.1 (Apple Inc. build 5577)]
pandas version 0.16.2

In [5]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]
babyDataset = zip(names, births)

In [6]:
df = pd.DataFrame(data = babyDataset, columns = ['name','birth rate'])

In [7]:
df

      name  birth rate
0      Bob         968
1  Jessica         155
2     Mary          77
3     John         578
4      Mel         973